.ingredientButtonWrapper
{
	height: 349px;
}

.ingredientItem
{
	margin-top: 3px;
}
.ingredientItem select
{
	height: 40px;
    width: 400px;
    margin-right: 40px;
	
}
.ingredientItem .minus
{
	margin-right: 20px;
    background: #659ce0;
    padding: 6px 13px;
    border-radius: 18px;
}
.ingredientItem .plus
{
	margin-right: 30px;
    background: #669ddf;
    padding: 6px 13px;
   border-radius: 18px;
}
.ingredientItem .quantity
{
	margin-right: 20px;
    background-color: #c6c6c6;
    padding: 5px 15px;
	
}
.ingredientItem .delete
{
	margin-right: 20px;
    background-color: #f34437;
    padding: 5px 27px;
	
}
#addIngredientButton
{
	margin-top: 12px;
    padding: 5px;
    width: 720px;
    background-color: #649be1;
}
#drinkNameForm
{
    text-align: center;
}

#drinkNameForm input
{
	width: 200px;
    height: 30px;
}