.cleanContent
{
    display: flex;
}
.cleanStep
{
    width: 637px;
    height: 346px;
    margin: 10px;
}

.stepButton
{
    width: 60px;
    height: 200px;
    padding-top: 146px;
    padding-left: 22px;
    font-size: 32px;
    font-weight: 100;
}