#dispenseTitle
{
	text-align: center;
    font-size: 20px;
    border-bottom: solid;
    color: #4a5d73;
    margin-bottom: 6px;
}
.dispenseIngredientsItem
{
	font-size: 18px;
}
.dispenseButtons Button
{
    width: 140px;
    margin-right: 40px;
    height: 49px;
    margin-top: 3px;
    border-radius: 10px;
    float: right;
}
#dispenseIngredients
{
	height: 215px;
}