body
{
	width: 800px;
	height: 480px;
	margin: 0px;
}
#top
{
	width: 800px;
	height:380px;
}
#buttonBlocker
{
    width: 800px;
    height: 480px;
    background-color: #ffffff;
    position: absolute;
    z-index: 50;
    top: 11px;
    left: 11px;
    opacity: 0.8;
}
