.mediumPopup
{
    padding: 10px;
    position: absolute;
    z-index: 51;
    top: 57px;
    left: 226px;
    background-color: #cce0f5;
    width: 400px;
    height: 318px;
    border-radius: 14px;
}

.mediumPopupTitle
{
	text-align: center;
    font-size: 20px;
    border-bottom: solid;
    color: #4a5d73;
    margin-bottom: 6px;
}

.mediumPopupTop
{
	height: 251px;
}
