#menuContainer
{
    background-color: #86c0f0;
    width: 200px;
    height: 380px;
    float: left;
}
.optionButton
{
	display: block;
	width: 180px;
	margin-left:auto;
    margin-right:auto;
    height: 58px;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 10px;

}