#smallPopupContainer
{
    position: absolute;
    z-index: 52;
    top: 159px;
    left: 172px;
    padding: 25px;
    background-color: #68a0e0;
    border-radius: 10px;
    width: 445px;
}
.smallPopupText
{
    margin-bottom: 10px;
    text-align: center;
}
