#tempPlus
{
    margin-left: 30px;
    background: #669ddf;
    padding: 6px 13px;
    border-radius: 18px;
}
#tempMinus
{
    margin-right: 30px;
    background: #669ddf;
    padding: 6px 13px;
    border-radius: 18px;
}
.tempSetDiv
{
    text-align: center;
    font-size: 20px;
}